:root {
  --background: rgb(4, 0, 10);
  --primary-btn: #6819fa;
  --primary-text: rgba(248, 245, 255);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--primary-text);
}

.container {
  margin: 1rem 15rem;
}

.wallet-adapter-modal-wrapper {
  background-color: #371b37 !important;
}

button.wallet-adapter-button {
  height: 40px;
  min-width: 10rem;
  cursor: pointer;
  padding: 12px 1rem;
}

button.wallet-adapter-button {
  background-color: var(--primary-btn);
}

button.wallet-adapter-modal-button-close {
  fill: #745474;
}

ul.wallet-adapter-dropdown-list-active {
  background-color: #371b37;
}

li.wallet-adapter-dropdown-list-item {
  background-color: var(--primary-btn);
}

li.wallet-adapter-dropdown-list-item:last-child {
  background-color: #ff0000;
}

.nav {
  padding: 1rem 15rem;
  margin-bottom: 5rem;
  background-color: rgb(35, 17, 35);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-text);
}

.nav-logo {
  font-weight: 800;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-text);
}

.nav-header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}

a.nav-link {
  text-decoration: none;
  color: var(--primary-text);
}
